.a{
		border:2px solid red;
		width: 250px;
		height: 180px;
		margin-top: 160px;
		margin-bottom: 250px;
		margin-left: 5px;
		padding: 20px;
		background-color: black;
		color:white;
	}
	body{
		background-color:white;
		background-image: url('f.png');
	}