footer{
	background-color: black;
	color: white;
	height:150px ;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
footer{
	display: flex;
	justify-content: space-between;
}
header{
	background-color: black;
	color: white;
	height: 120px;
	
	
}
section{
	background-color: white;
	color: black;
	margin-top: 10px;
	
}
h2{
	color: red;
	padding-left: 20px;
	background-color: black;
}
p{
	text-align: center;
}
h3{
	padding-top: 15px;
	padding-left: 15px;
}