<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ayu</display-name>
  <welcome-file-list>
    <welcome-file>Ayuhome.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hii</display-name>
    <servlet-name>Hii</servlet-name>
    <servlet-class>Hii</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hii</servlet-name>
    <url-pattern>/h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ayureg1</display-name>
    <servlet-name>Ayureg1</servlet-name>
    <servlet-class>Ayureg1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ayureg1</servlet-name>
    <url-pattern>/areg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ayureg2</display-name>
    <servlet-name>Ayureg2</servlet-name>
    <servlet-class>Ayu.Ayureg2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ayureg2</servlet-name>
    <url-pattern>/aru</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ayulog</display-name>
    <servlet-name>Ayulog</servlet-name>
    <servlet-class>Ayu.Ayulog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ayulog</servlet-name>
    <url-pattern>/alog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ayulog2</display-name>
    <servlet-name>Ayulog2</servlet-name>
    <servlet-class>Ayu.Ayulog2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ayulog2</servlet-name>
    <url-pattern>/ayulog2</url-pattern>
  </servlet-mapping>
</web-app>